<!DOCTYPE html>
<html>
  <head>
    <title>Trailmap 3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5547782-27"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-5547782-27');
    </script>
  </body>
</html>
