<!DOCTYPE html>
<html>
  <head>
    <title>Trailmap 3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script src="http://localhost:8097"></script>
    <%= yield %>
  </body>
</html>
